.c-attachment {
    width: 50%;
    margin: $space_m;
    box-shadow: 0 20px 20px -20px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 20px 20px -20px rgba(0,0,0,0.7);
    @include mq(md) {
        width: 100%;
    }
    @include mq(sm) {
        width: 100%;
    }
}