.c-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    &__container {
        position: relative;
        width: 200px;
        height: 200px;
        margin: auto;
        border-radius: 50%;
        border: 1px solid $boader-color_line;
    }
}