.c-badge {
    margin: 0px 5px;
    padding: 3px 7px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: inline-block;
    color: $font-color_sub;
    font-size: $font-size_m;
    background-color: $background-color_badge;
    @include mq(sm) {
        font-size: $font-size_s;
    }
}