.c-button {
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: $font-color_default;
    font-size: $font-size_default;
    background: $background-color_sub;

    &:hover {
        cursor: pointer;
        color: $font-color_sub;
    }

    @include mq(sm) {
        font-size: $font-size_m;
    }

    &__register {
        display: block;
        text-align: center;
        font-weight: bold;;
        color: $font-color_default;
        border: 2px solid $boader-color_main;
        &:hover {
            background: $background-color_btn_main;
        }
    }

    &__top {
        margin: auto;
        display: flex;
        width: 30%;
        justify-content: center;
        height: 50px;
        align-items: center;
        border-radius: 100vh;
        font-size: 24px;
    }

    &__contact {
        width: 100%;
        display: block;
        text-align: center;
        font-weight: bold;;
        color: $font-color_default;
        border: 2px solid $boader-color_main;
        &:hover {
            background: $background-color_btn_main;
        }
    }

    &__submit {
        transition: 0.3s;
        width: 100%;
        height: 50px;
        font-weight: bold;
    }

    &__primary {
        border: 2px solid $boader-color_primary;
        &:hover {
            background: $background-color_btn_primary;
        }
    }

    &__main {
        border: 2px solid $boader-color_main;
        &:hover {
            color: $font-color_sub;
            background: $background-color_btn_main;
        }
    }

    &__default {
        border: 2px solid $boader-color_line;
        &:hover {
            color: $font-color_sub;
            background: $background-color_btn_default;
        }
    }

    &__share {
        background: #000;
        border: #000;
    }

    &__purchase {
        display: block;
        color: $font-color_sub;
        background: $background-color_sub2;
        &:disabled{
            cursor: not-allowed;
            background: $background-color_sub3;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
    }
}