.c-button {
    padding: $space_s;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: $font-color_default;
    font-size: $font-size_default;
    background: $background-color_sub;
    &:hover {
        cursor: pointer;
        color: $font-color_sub;
    }
    &--submit {
        margin-top: $space_m;
        transition: 0.3s;
        width: 100%;
        height: 50px;
    }
    &--purchase {
        display: block;
        color: $font-color_sub;
        background: $background-color_sub2;
        &:disabled{
            cursor: not-allowed;
            background: $background-color_sub3;
        }
    }
    &--main {
        border: 2px solid $boader-color_main;
        &:hover {
            color: $font-color_sub;
            background: $background-color_btn_main;
        }
    }
    &--primary {
        border: 2px solid $boader-color_primary;
        &:hover {
            background: $background-color_btn_primary;
        }
    }
    &--default {
        margin: $space_s;
        padding: $space_s;
        border: 2px solid $boader-color_line;
        &:hover {
            color: $font-color_sub;
            background: $background-color_btn_default;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        margin: $space_m;
    }
    &--zip {
        display: flex;
        justify-content: flex-end;
    }
    &--top {
        margin: auto;
        display: flex;
        width: 30%;
        justify-content: center;
        height: 50px;
        align-items: center;
        border-radius: 100vh;
        font-size: $font-size_l;
        @include mq(md) {
            width: 60%;
        }
        @include mq(sm) {
            width: 90%;
        }
    }
    &--register {
        display: block;
        text-align: center;
        font-weight: bold;;
        color: $font-color_default;
        padding: $space_s;
        font-size: $font-size_l;
    }
    &__contact {
        width: 100%;
        display: block;
        text-align: center;
        font-weight: bold;;
        color: $font-color_default;
        border: 2px solid $boader-color_main;
        &:hover {
            background: $background-color_btn_main;
        }
    }
    &__share {
        background: #000;
        border: #000;
    }
}