.c-card {
    max-width: 200px;
    min-height: 265px;
    margin: $space_s;
    padding: $space_s;
    font-size: $font-size_default;
    border: 1px solid $boader-color_line;
    position: relative;
    @include mq(sm) {
        max-width: 100%;
        font-size: $font-size_m;
    }
    &__header {
        min-height: 40px;
        padding: $space_s;
    }
    &__name {
        max-height: 40px;
        max-width: 100%;
        font-weight: bold;
        overflow: hidden;
        overflow-wrap: break-word; // 文字の折り返し
        word-wrap: break-word; // 文字の折り返し
        text-overflow: ellipsis; // 省略記号（...）
        display: -webkit-box; // 複数行テキストの省略
        -webkit-line-clamp: 2; // 最大行数
        -webkit-box-orient: vertical; // ブロック要素を縦に並べる
    }
    &__body {
        position: relative;
        display: inline-block;
    }
    &__img {
        width: 200px;
        height: 180px;
        margin-bottom: $space_s;
        display: block;
        @include mq(sm) {
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        text-align: center;
    }
    &__label {
        position: absolute;
        z-index: 1;
        opacity: .9;
        color: $font-color_default;
        background-color: $background-color_main;
    }
    &__price {
        padding: $space_s 0 $space_s $space_s;
        right: 0px;
        bottom: 55px;
        font-weight: bold;
        @include mq(sm) {
            bottom: 48px;
        }
    }
    &__category {
        padding: $space_s;
        top: 0%;
        font-size: $font-size_m;
        @include mq(sm) {
            font-size: $font-size_s;
        }
    }
    &__footer {
        display: flex;
        flex-direction: column;
    }
}