.c-card {
    max-width: 200px;
    height: 100%;
    border: 1px solid #434343;

    &__picture {
        width: 85%;
    }

    &__name {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

    &__price {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }

    &__date {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
}