.c-flash {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: $space_m 0;
    padding: $space_l 0;
    font-weight: bold;
    font-size: $font-size_default;

    @include mq(sm){
        font-size: $font-size_m;
    }
}