.c-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    @include mq(sm) {
        max-width: 100%;
        padding: $space_l;
    }
    &__group {
        margin: $space_m 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--expiration {
        display: flex;
    }
    &--search {
        padding: $space_s;
        background-color: $background-color_main;
    }
}