.c-hero {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(238,238,238,0.5) 0%, rgba(255,255,255,0.8) 100%), url('/images/convenience_shopping.jpg') no-repeat center/cover;
    @include mq(sm) {
        height: 50%;
    }
    &__inner {
        text-align: center;
        font-weight: bold;
        color: $font-color_default;
        @include mq(md) {
            padding: $font-size_3l;
        }
        @include mq(sm) {
            padding: $font-size_3l;
        }
    }
    &__title {
        font-family: $font-family_corp;
        font-style: italic;
        font-size: 200px;
        @include mq(md) {
            font-size: 100px;
        }
        @include mq(sm) {
            font-size: 100px;
        }
    }
    &__text {
        font-size: $font-size_xl;
    }
}