.c-icon {
    font-size: 24px;
    @include mq(sm){
        font-size: 12px;
    }
    &:hover {
        cursor: pointer;
    }

    &__like {
        color: #ff7fbf;
    }

    &__unlike {
        color: #999;
    }

    &__share {
        color: #fff;
    }
}