.c-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: $font-size_default;

    &:hover {
        cursor: pointer;
    }
    &--like {
        color: $font-color_like;
    }
    &--unlike {
        color: $font-color_unlike;
    }
    &--notlike {
        color: $font-color_unlike;
        pointer-events: none;
    }
    &--share {
        padding: $space_s;
        border: 1px solid;
        border-radius: 50px;
        color: $font-color_default;
    }
}