.c-icon {
    font-size: $font-size_l;

    @include mq(sm) {
        font-size: $font-size_m;
    }

    &:hover {
        cursor: pointer;
    }

    &__like {
        color: $font-color_like;
    }

    &__unlike {
        color: $font-color_unlike;
    }

    &__share {
        color: $font-color_sub;
    }
}