.c-input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background: $background-color_main;
    border: 1px solid $boader-color_line;
    font-size: $font-size_default;

    @include mq(sm) {
        height: 32px;
        margin: $space_s 0;
        font-size: $font-size_m;

        &::placeholder {
            font-size: $font-size_m;
        }
    }

    &__price {
        width: 35%;
    }

    &__date {
        display: flex;
        align-items: center;
    }

    &__password {
        position: relative;

        span {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    &__hidden {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }

    &.is-invalid {
        background-color: $background-color_valid;
    }

    &__search {
        width: 75%;
    }
}