.c-input {
    width: 100%;
    height: 50px;
    margin: $space_m 0;
    padding: $space_s;
    box-sizing: border-box;
    font-size: $font-size_default;
    background: $background-color_default;
    border: 1px solid $boader-color_line;
    @include mq(sm) {
        margin: $space_s 0;
        font-size: $font-size_default;
    }
    &::placeholder {
        font-size: $font-size_default;
    }
    &--price {
        width: 35%;
    }
    &--date {
        display: flex;
        align-items: center;
    }
    &--hidden {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }
    &.is-valid { // バリデーション正常
        background-color: $background-color_is_valid;
        border: 2px solid $boader-color_is_valid;
    }
    &.is-invalid { // バリデーション異常
        background-color: $background-color_is_invalid;
        border: 2px solid $boader-color_is_invalid
    }
    &__search {
        width: 75%;
        margin: $space_s 0;
        padding: $space_s;
    }
    &__radio {
        margin: $space_s 0;
    }
}