.c-label {
    display: block;
    font-weight: bold;
    font-size: $font-size_default;

    @include mq(sm) {
        font-size: $font-size_m;
    }

    &__purchase {
        padding: $space_m;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border-radius: 50%;
        font-size: $font-size_l;
        color: $font-color_sub;
        background: $background-color_label;
        @include mq(sm) {
            width: 30px;
            height: 30px;
            font-size: 12px;
            z-index: 2;
        }
    }
    &__category {
        font-size: 12px;
        margin: 0 8px;
        padding: 8px 0;
        border-radius: 100vh;
        border: 1px solid;
        text-align: center;
    }
}