.c-link {
    display: inline;
    text-align: center;
    text-decoration: none;
    color: $font-color_default;
    font-size: $font-size_default;

    @include mq(sm){
        font-size: $font-size_m;
    }

    &:hover {
        text-decoration: underline;
    }

    &__products {
        text-align: right;
    }

    &__withdraw {
        display: block;
        text-align: right;
    }

    &__back {
        display: inline-block;
    }
}