.c-pagination {
    display: flex;
    list-style-type: none;
    & li {
        border: 1px solid $boader-color_line;
        padding: $space_l;
        text-align: center;
        @include mq(sm) {
            padding: $space_s;
        }  
    }
    & .active {
        background-color: $background-color_btn_primary;
        color: $font-color_sub;
    }
    & .inactive{
        color: $font-color_default;
    }
    & li + li {
        border-left: none;
    }
}
.disabled {
    cursor: not-allowed;
}