.c-panel {
    position: relative;
    box-sizing: border-box;

    &__border {
        border-radius: 5px;
        border: 5px solid #f6f5f4;
    }

    &__head, &__foot {
        padding: $space_m;
    }

    &__head {
        text-align: center;
        font-size: $font-size_l;
        font-weight: bold;
    }

    &__body {
        display: flex;
        justify-content: center;
    }

    &__container {
        height: 600px;
    }

    &__content {
        font-weight: bold;
        padding: $space_xl;
        display: flex;
        align-items: center;
    }

    &__image {
        height: 250px;

        &--convenience {
            width: 70%;
        }

        &--user {
            width: 50%;
        }

        &--usage {
            width: 25%;
            height: 25%;
            margin-right: $space_xl;
        }
    }
}

.c-panel__group--flex {
    display: flex;

    @include mq(sm) {
        display: block;
    }
}

.c-panel__group .c-panel {
    width: 50%;
    margin: $space_m;
    box-sizing: border-box;

    @include mq(sm) {
        width: 90%;
        margin: $space_l;
    }
}