.c-panel {
    position: relative;
    box-sizing: border-box;
    &__border {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 5px solid $boader-color_sub;
    }
    &__head, &__foot {
        padding: $space_m;
    }
    &__head {
        text-align: center;
        font-size: $font-size_l;
        font-weight: bold;
    }
    &__body {
        display: flex;
        justify-content: center;
    }
    &__container {
        height: 600px;
    }
    &__content {
        padding: $space_xl;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    &__image {
        height: 250px;
        &--user {
            width: 50%;
        }
        &--convenience {
            width: 70%;
        }
        &--usage {
            width: 25%;
            height: 25%;
            margin-right: $space_xl;
        }
    }
}
.c-panel__group--flex {
    display: flex;
    @include mq(sm) {
        display: block;
    }
}
.c-panel__group .c-panel {
    width: 50%;
    box-sizing: border-box;
    margin: $space_s;
    @include mq(sm) {
        width: 100%;
        margin: $space_s 0;
    }
}