.c-product {
    width: 80%;
    margin: auto;
    padding: $space_s;
    &--item{
        font-size: $font-size_default;
        line-height: 1.5;
    }
    &__price {
        &--value {
            font-size: $font-size_l;
            font-weight: bold;
            display: inline-block;
        }
        &--unit {
            font-size: $font-size_default;
        }
    }
    &__expiration {
        display: flex;
        @include mq(sm) {
            display: block;
        }
    }
    &--convenience {
        display: flex;
    }
    &--avatar {
        width: 100px;
        border-radius: 50%;
    }
    &--avatar-wrap {
        display: flex;
        align-items: center;
    }
    &--item-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}