.c-product {
    width: 80%;
    margin: auto;
    padding: $space_s;
    &--item{
        max-width: 100%;
        font-size: 16px;
        line-height: 1.5;
        overflow-wrap: break-word; // 文字の折り返し
        word-wrap: break-word; // 文字の折り返し
    }
    &__price {
        &--value {
            font-size: $font-size_l;
            font-weight: bold;
            display: inline-block;
        }
        &--unit {
            font-size: $font-size_default;
        }
    }
    &__expiration {
        display: flex;
        @include mq(sm) {
            display: block;
        }
    }
    &--convenience {
        display: flex;
    }
    &--avatar {
        width: 100px;
        height: 100px;
        margin-right: $space_m;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }
    &--avatar-wrap {
        display: flex;
        align-items: center;
    }
    &--item-wrap {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}