.c-product {
    &__picture {
        min-width: 268px;
        height: 200px;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
    }

    &__price {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

    &__date {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
}