.c-textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $boader-color_default;
    background: $background-color_main;
    font-size: $font-size_default;

    @include mq(sm) {
        &::placeholder {
            font-size: $font-size_m;
        }
    }

    &__count {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: $font-size_m;
    }
}