.c-text {
    font-size: $font-size_default;

    @include mq(sm) {
        font-size: $font-size_m;
    }

    &__note {
        font-size: $font-size_m;
    }

    &__max {
        display: flex;
        justify-content: flex-end;
    }

    &__withdraw {
        font-weight: bold;
        line-height: 1.5;
    }
}