.c-text {
    font-size: $font-size_default;

    @include mq(sm) {
        font-size: $font-size_m;
    }

    &__max {
        display: flex;
        justify-content: flex-end;
    }

    &__withdraw {
        font-weight: bold;
        line-height: 1.5;
    }

    &__attention {
        position: absolute;
        right: 0px;
        bottom: -3px;
        font-size: $font-size_m;

        @include mq(sm) {
            font-size: $font-size_s;
        }
    }
}