.c-title {
    font-weight: bold;
    text-align: center;
    font-size: $font-size_xl;
    color: $font-color_default;

    @include mq(sm){
        font-size: $font-size_default;
    }

    &__header {
        font-size: $font-size_l;

        @include mq(sm) {
            font-size: $font-size_default;
        }
    }

    &__sub {
        font-size: $font-size_l;

        @include mq(sm) {
            font-size: $font-size_default;
        }
    }

    &__terms,
    &__policy {
        text-align: left;
        font-weight: bold;
        font-size: $font-size_default;
    }
}
