.c-title {
    color: #434343;
    font-size: 32px;
    font-weight: bold;
    text-align: center;

    @include mq(sm){
        font-size: 16px;
    }

    &__sub {
        font-size: 24px;
        text-align: left;
        @include mq(sm){
            font-size: 16px;
        }
    }

    &__terms {
        font-weight: bold;
    }
}
