.c-toast {
    width: 100%;
    padding: $space_m 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: $font-color_sub;
    font-weight: bold;
    opacity: .9;
    z-index: 3;
    text-align: center;
    &--success {
        background-color: $background-color_btn_primary;
    }
    &--error {
        background-color: $background-color_btn_main;
    }
}