.c-toast {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: $space_s 0;
    color: $background-color_sub;
    font-weight: bold;
    opacity: 0.9;
    z-index: 3;
    text-align: center; // テキストを中央揃え

    &__success {
        background-color: #28a745;
    }

    &__error {
        background-color: #dc3545;
    }
}