.c-tooltip {
    position: relative;
    display: inline-block;

    &__message {
        display: none;
        position: absolute;
        padding: 8px;
        font-size: 12px;
        line-height: 1.6em;
        color: #fff;
        border-radius: 4px;
        background: #000;
        width: 150px;
        top: -180%;
        z-index: 2;
        transform: translateX(-110%);

        &:before {
            content: "";
            position: absolute;
            left: 110%;
            bottom: 30%;
            border: 15px solid transparent;
            border-top: 15px solid #000;
            margin-left: -20px;
            transform: rotateZ(270deg);
        }
    }

    &:hover .c-tooltip__message {
        display: block;
    }
}