.p-article {
    font-size: $font-size_m;

    &__mypage {
        display: flex;

        @include mq(sm) {
            display: block;
        }
    }

    @include mq(sm) {
        font-size: $font-size_s;
    }
}