.p-icon {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 8px;
    padding: 8px;
}