.p-input{
    &__password {
        position: relative;

        input {
            padding-right: 30px;
        }

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            cursor: pointer;
        }
    }
}