.p-mypage {
    &__sidebar {
        display: flex;
        flex-direction: column;
        width: 180px;

        @include mq(sm){
            width: 100%;
        }
    }

    &__purchased,
    &__liked,
    &__sale {
        background: #fefefe;
        padding: 32px;

        @include mq(sm){
            padding: 8px;
        }
    }
}