.p-mypage {

    &__sidebar {
        display: flex;
        flex-direction: column;

        @include mq(sm) {
            width: 100%;
        }
    }

    &__sale,
    &__liked,
    &__purchased {
        background: $background-color_sub;
        padding: $space_m;

        @include mq(sm) {
            padding: $space_s;
        }
    }
}