.p-mypage {
    padding: $space_m;
    background-color: $background-color_main;
    @include mq(sm) {
        padding: $space_s;
    }
    &--list {
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        @include mq(sm) {
            width: 100%;
            flex-wrap: wrap;
        }
    }
    &--link {
        margin-top: $space_s;
    }
}