.p-product {
    &__picture {
        position: relative;
        width: 200px;
        height: 200px;
        border: 1px solid #000;
        border-radius: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 16px 8px;
        padding: 8px;

        &--container {
            display: flex;
            justify-content: center;
        }
    }

    &__index {
        background: #fff;
        margin: 120px;
        padding: 40px;
        text-align: left;
        border: 1px solid #000;
    }

    &__form{
        background: #fff;
        margin: 120px auto;
        padding: 40px;
        text-align: left;
        border: 1px solid #000;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        padding: 0;
    }

    &__item {
        flex: 0 0 calc(25% - 20px);
        margin-bottom: 20px;
        border: 1px solid #000;
        padding: 24px;
    }

    &__button {
        display: flex;
        flex-direction: column;
    }
}