.p-profile {
    display: flex;
    background-color: #fafafa;

    &__icon {
        width: 200px;
        height: 200px;
        border-radius: 50%;

        &--container {
            position: relative;
            width: 200px;
            height: 200px;
            border: 1px solid #000;
            border-radius: 50%;
            margin: auto;
            padding: 8px;
        }
    }
}