.p-profile {
    display: flex;
    background-color: $background-color_sub;

    &__icon {
        width: 200px;
        height: 200px;
        border-radius: 50%;

        &--container {
            position: relative;
            width: 200px;
            height: 200px;
            margin: auto;
            border-radius: 50%;
            border: 1px solid $boader-color_default;
        }
    }
}