.p-product {
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        @include mq(sm){
            width: 100%;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 8px;
        @include mq(sm){
            width: calc(100% / 2);
            padding: 8px 0;
        }
    }

    &__index {
        background: #fefefe;
        padding: 24px 40px;
        &--like,
        &--purchased,
        &--sale {
            padding: 30px;
        }
        @include mq(sm){
            padding: 8px;
        }
    }

    &__form{
        background: #fff;
        margin: 120px auto;
        padding: 40px;
        text-align: left;
        border: 1px solid #000;
    }

    &__container{
        width: 320px;
    }

    &__picture {
        &--container {
            position: relative;
            height: 100%;
            border: 1px solid #000;
            margin: auto;
            padding: 8px;
        }
    }
}