.p-product {

    &__list {
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        @include mq(sm) {
            width: 100%;
            flex-wrap: wrap;
        }
    }

    &__item {
        margin: $space_s;
        @include mq(sm) {
            width: calc(100% / 2);
            padding: $space_s 0;
            margin: 0;
        }
    }

    &__index {
        padding: $space_l $space_m;
        background: $background-color_sub;

        @include mq(sm) {
            padding: $space_s;
        }
    }

    &__picture {
        &--container {
            position: relative;
            height: 100%;
            border: 1px solid $boader-color_line;
            margin: auto;
        }
    }
}