.p-register{
    display: flex;
    background-color: #fafafa;

    &__form{
        background: #fff;
        margin: 120px auto;
        padding: 40px;
        text-align: left;
        border: 1px solid #000;
    }

    &__button{
        display: flex;
        justify-content: center;
    }
}