.p-register {
    padding: 40px;
    border: 0.5px solid #434343;

    @include mq(sm){
        padding: 24px;
    }

    &__terms {
        height: 200px;
        border: 0.5px solid #434343;
        margin: 8px;
        padding: 8px;
        width: 466px;
        overflow-y: auto;
        font-size: 12px;
        line-height: 1.2;

        @include mq(sm){
            height: 200px;
            border: 0.5px solid #434343;
            margin: 8px;
            padding: 8px;
            overflow-y: auto;
            font-size: 12px;
            line-height: 1.2;
            width: 250px;
        }
    }
}