.p-register {
    margin-top: $space_m;
    padding: $space_s;
    height: 160px;
    overflow-y: auto;
    line-height: 1.2;
    font-size: $font-size_m;
    border: 0.5px solid $boader-color_line;
}