.p-resetpassword{
    display: flex;
    align-items: center;
    background-color: #fafafa;
    height: 700px;

    &__form{
        background: #fff;
        width: 650px;
        margin: 15px auto;
        padding: 40px;
        text-align: center;
        border: 1px solid #000;
    }

    &__button{
        display: flex;
        justify-content: center;
    }
}