@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#l-footer {
  width: 100%;
  height: 30px;
}

#l-footer__pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#l-footer__pagetop--arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(20%) rotate(-45deg);
}

#l-footer__pagetop.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#l-footer__pagetop.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

#l-footer__inner {
  text-align: center;
  background-color: #aaa;
  color: #333;
  padding: 30px;
}

#l-footer__text {
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 414px) {
  #l-footer__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  #l-footer__text {
    font-size: 12px;
  }
}

#l-footer__link {
  color: #fff;
}

.l-header {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  line-height: 50px;
  color: #333;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  background-color: #aaa;
}

.l-header.float-active {
  position: fixed;
  z-index: 2;
  transition: 0.3s;
  background: #fff;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .l-header {
    height: 100px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 414px) {
  .l-header {
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .l-header__inner {
    margin-top: 5px;
  }
}

.l-main {
  width: 100%;
  background-color: #f6f5f4;
}

.c-button {
  background: #fff;
  margin: 15px 0;
  padding: 8px 32px;
  font-size: 16px;
  transition: 0.5s;
  border: 2px solid #f66d9b;
  border-radius: 3px;
  text-decoration: none;
}

.c-button:hover {
  background: #f66d9b;
  /* ホバー時の背景色 */
  cursor: pointer;
}

.c-error {
  display: block;
  color: red;
}

.c-header {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .c-header {
    height: 90px;
  }
}

@media screen and (max-width: 414px) {
  .c-header {
    margin-left: 0;
    height: 50px;
  }
}

.c-header__title {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  color: #000;
  line-height: 60px;
}

.c-input {
  background: #f6f5f4;
  width: 460px;
  border: 1px solid #000;
  margin: 15px 12px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

.c-label {
  font-size: 16px;
  color: #333;
}

.c-nav__menu {
  display: flex;
  align-items: center;
  font-family: "Robot", sans-serif;
}

@media screen and (max-width: 768px) {
  .c-nav__menu {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: 0.5s;
    z-index: 2;
  }

  .c-nav__menu.active {
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 2;
  }
}

@media screen and (max-width: 414px) {
  .c-nav__menu {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: 0.5s;
  }

  .c-nav__menu.active {
    transition: 0.5s;
    transform: translateX(-100%);
  }
}

.c-nav__menu--trigger {
  display: none;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .c-nav__menu--trigger {
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 414px) {
  .c-nav__menu--trigger {
    display: inline-block;
    margin-top: 10px;
  }
}

.c-nav__menu--trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
}

.c-nav__menu--trigger span:nth-of-type(1) {
  top: 0;
}

.c-nav__menu--trigger span:nth-of-type(2) {
  top: 14px;
}

.c-nav__menu--trigger span:nth-of-type(3) {
  bottom: 0;
}

.c-nav__menu--trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.c-nav__menu--trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.c-nav__menu--trigger.active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

.c-nav__menu--list {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .c-nav__menu--list {
    display: inline-block;
  }
}

@media screen and (max-width: 414px) {
  .c-nav__menu--list {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
}

.c-nav__menu--link {
  font-size: 14px;
  margin: 0 20px;
  color: #000;
  text-decoration: none;
  position: relative;
}

.c-nav__menu--link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.c-nav__menu--link:hover::after {
  transform: scale(1, 1);
}

.c-nav__menu--item {
  list-style: none;
}

.c-nav__menu--user {
  display: flex;
  align-items: center;
}

.c-nav__menu--username {
  margin-right: 10px;
}

@media screen and (max-width: 414px) {
  .c-nav__menu {
    display: block;
    font-size: 30px;
  }

  .c-nav__menu--item {
    margin-right: initial;
  }

  .c-nav__menu--link {
    -webkit-font-smoothing: initial;
    display: block;
    padding: 50px;
    text-align: center;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .c-nav__menu {
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }

  .c-nav__menu--item {
    margin-right: initial;
  }

  .c-nav__menu--link {
    -webkit-font-smoothing: initial;
    display: block;
    padding: 50px;
    text-align: center;
    color: #fff;
  }
}

.c-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin: 30px 0;
  padding: 0;
}

.c-title__section {
  font-weight: 900;
  font-size: 30px;
}

.c-title__number {
  font-size: 18px;
  margin-top: 30px;
}

.p-login {
  width: 100%;
  display: flex;
  background-color: #f6f5f4;
}

@media screen and (max-width: 768px) {
  .p-login {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .p-login {
    width: 100%;
  }
}

.p-login__form {
  background: #fff;
  width: 650px;
  margin: 135px auto;
  padding: 40px;
  text-align: center;
  border: 1px solid #000;
}

.p-login__button {
  display: flex;
  justify-content: center;
}

.p-register {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  height: 700px;
}

.p-register__form {
  background: #fff;
  width: 650px;
  margin: 15px auto;
  padding: 40px;
  text-align: center;
  border: 1px solid #000;
}

.p-register__button {
  display: flex;
  justify-content: center;
}

