@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  color: #434343;
  font-size: 16px;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
  scroll-behavior: smooth;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.l-article {
  display: flex;
}

@media screen and (max-width: 768px) {
  .l-article {
    display: block;
  }
}

@media screen and (max-width: 414px) {
  .l-article {
    display: block;
  }
}

.l-article__main {
  min-width: 75%;
  border: 0.5px solid #434343;
}

@media screen and (max-width: 768px) {
  .l-article__main {
    margin: 16px;
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 414px) {
  .l-article__main {
    margin: 8px;
    width: calc(100% - 16px);
  }
}

.l-article__sidebar {
  min-width: 25%;
  background: #eee;
}

@media screen and (max-width: 414px) {
  .l-article__sidebar {
    width: 100%;
  }
}

.l-container {
  width: 100%;
}

.l-container__header {
  margin: 32px 0;
}

.l-container__inner {
  padding: 32px;
}

@media screen and (max-width: 414px) {
  .l-container__inner {
    padding: 40px 16px;
  }
}

.l-footer {
  width: 100%;
}

.l-footer__pagetop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefefe;
  border: solid 2px #434343;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: 2;
}

.l-footer__pagetop--arrow {
  width: 10px;
  height: 10px;
  border-top: 3px solid #434343;
  border-right: 3px solid #434343;
  transform: translateY(20%) rotate(-45deg);
  -webkit-transform: translateY(20%) rotate(-45deg);
  -ms-transform: translateY(20%) rotate(-45deg);
}

.l-footer__pagetop.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
  }
}

.l-footer__pagetop.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
  }
}

.l-footer__inner {
  padding: 16px;
  line-height: 2.5;
  text-align: center;
  color: #434343;
  background-color: #eee;
}

.l-footer__copyright {
  font-size: 16px;
  color: #434343;
}

@media screen and (max-width: 414px) {
  .l-footer__copyright {
    font-size: 12px;
  }
}

.l-footer__link {
  margin-top: 8px;
}

.l-header {
  width: 100%;
  height: 60px;
  padding: 0 32px;
  box-sizing: border-box;
  line-height: 50px;
  transition: 0.3s;
  color: #434343;
  background-color: #eee;
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.9;
}

@media screen and (max-width: 414px) {
  .l-header {
    height: 100%;
    padding: 0 24px;
  }
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
}

.l-header__logo {
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  text-decoration: none;
  color: #434343;
  line-height: 60px;
}

@media screen and (max-width: 414px) {
  .l-header__logo {
    font-size: 40px;
  }
}

.l-main {
  width: 980px;
  margin: auto;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  .l-main {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .l-main {
    width: 100%;
  }
}

.l-main__header {
  margin: 32px 0;
}

.l-main__wrapper {
  border: 0.5px solid #434343;
}

@media screen and (max-width: 768px) {
  .l-main__wrapper {
    margin: 16px;
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 414px) {
  .l-main__wrapper {
    margin: 8px;
    width: calc(100% - 16px);
  }
}

.l-nav__trigger {
  width: 40px;
  height: 32px;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  display: none;
}

@media screen and (max-width: 768px) {
  .l-nav__trigger {
    display: inline-block;
    margin-top: 16px;
  }
}

@media screen and (max-width: 414px) {
  .l-nav__trigger {
    display: inline-block;
    margin-top: 16px;
  }
}

.l-nav__trigger span {
  width: 100%;
  height: 4px;
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  background-color: #434343;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.l-nav__trigger span:nth-of-type(1) {
  top: 0;
}

.l-nav__trigger span:nth-of-type(2) {
  top: 14px;
}

.l-nav__trigger span:nth-of-type(3) {
  bottom: 0;
}

.l-nav__trigger.is-active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
  -webkit-transform: translateY(12px) rotate(-45deg);
  -ms-transform: translateY(12px) rotate(-45deg);
}

.l-nav__trigger.is-active span:nth-of-type(2) {
  opacity: 0;
}

.l-nav__trigger.is-active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
  -webkit-transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
}

.l-nav__menu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .l-nav__menu {
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(0, 0, 0, 0.65);
    transition: 0.5s;
    z-index: 2;
  }

  .l-nav__menu.is-active {
    transition: 0.5s;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
  }
}

@media screen and (max-width: 414px) {
  .l-nav__menu {
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(0, 0, 0, 0.65);
    transition: 0.5s;
    z-index: 2;
  }

  .l-nav__menu.is-active {
    transition: 0.5s;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
  }
}

.l-nav__item {
  list-style: none;
  line-height: 60px;
}

.l-nav__link {
  margin: 0 32px;
  text-decoration: none;
  position: relative;
  color: #434343;
  font-size: 16px;
}

.l-nav__link::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  background: #434343;
}

@media screen and (max-width: 768px) {
  .l-nav__link::after {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .l-nav__link::after {
    display: none;
  }
}

.l-nav__link:hover::after {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
}

@media screen and (max-width: 768px) {
  .l-nav__item {
    margin-right: initial;
  }

  .l-nav__link {
    -webkit-font-smoothing: initial;
    display: block;
    padding: 16px 0;
    text-align: center;
    color: #fefefe;
  }
}

@media screen and (max-width: 414px) {
  .l-nav__item {
    margin-right: initial;
  }

  .l-nav__link {
    -webkit-font-smoothing: initial;
    display: block;
    padding: 16px 0;
    text-align: center;
    color: #fefefe;
  }
}

.c-attachment {
  width: 50%;
  margin: 16px;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {
  .c-attachment {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .c-attachment {
    width: 100%;
  }
}

.c-avatar {
  width: 200px;
  height: 200px;
  margin: auto;
  padding: 8px;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid #434343;
}

.c-avatar--img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.c-badge {
  margin: 0px 5px;
  padding: 3px 7px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: inline-block;
  color: #fefefe;
  font-size: 12px;
  background-color: #ff6666;
}

@media screen and (max-width: 414px) {
  .c-badge {
    font-size: 8px;
  }
}

.c-button {
  padding: 8px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #434343;
  font-size: 16px;
  background: #fefefe;
}

.c-button:hover {
  cursor: pointer;
  color: #fefefe;
}

.c-button--submit {
  width: 100%;
  height: 50px;
  margin-top: 16px;
  transition: 0.3s;
}

.c-button--purchase {
  display: block;
  color: #fefefe;
  background: #eee;
}

.c-button--purchase:disabled {
  cursor: not-allowed;
  background: #434343;
}

.c-button--main {
  border: 2px solid #ff2828;
}

.c-button--main:hover {
  color: #fefefe;
  background: #ff2828;
}

.c-button--primary {
  border: 2px solid #32cd32;
}

.c-button--primary:hover {
  background: #32cd32;
}

.c-button--default {
  margin: 8px;
  padding: 8px;
  border: 2px solid #434343;
}

.c-button--default:hover {
  color: #fefefe;
  background: #ffa500;
}

.c-button__container {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.c-button--zip {
  display: flex;
  justify-content: flex-end;
}

.c-button--top {
  width: 30%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .c-button--top {
    width: 60%;
  }
}

@media screen and (max-width: 414px) {
  .c-button--top {
    width: 90%;
  }
}

.c-button--register {
  padding: 8px;
  display: block;
  text-align: center;
  font-weight: bold;
  color: #434343;
  font-size: 24px;
}

.c-card {
  max-width: 200px;
  min-height: 265px;
  margin: 8px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #434343;
  position: relative;
}

@media screen and (max-width: 414px) {
  .c-card {
    max-width: 100%;
    font-size: 12px;
  }
}

.c-card__header {
  min-height: 40px;
  padding: 8px;
}

.c-card__name {
  max-height: 40px;
  font-weight: bold;
}

.c-card__body {
  position: relative;
  display: inline-block;
}

.c-card__img {
  width: 200px;
  height: 180px;
  margin-bottom: 8px;
  display: block;
}

@media screen and (max-width: 414px) {
  .c-card__img {
    width: 100%;
    height: 100%;
  }
}

.c-card__text {
  text-align: center;
}

.c-card__label {
  position: absolute;
  z-index: 1;
  opacity: 0.9;
  color: #434343;
  background-color: #fefefe;
}

.c-card__price {
  padding: 8px 0 8px 8px;
  right: 0px;
  bottom: 55px;
  font-weight: bold;
}

@media screen and (max-width: 414px) {
  .c-card__price {
    bottom: 48px;
  }
}

.c-card__category {
  padding: 8px;
  top: 0%;
  font-size: 12px;
}

@media screen and (max-width: 414px) {
  .c-card__category {
    font-size: 8px;
  }
}

.c-card__footer {
  display: flex;
  flex-direction: column;
}

.c-checkbox {
  margin-right: 8px;
}

.c-content {
  width: 980px;
  margin: auto;
  display: flex;
  align-items: center;
}

.c-content__text {
  line-height: 1.7;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .c-content {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .c-content {
    width: 100%;
    flex-direction: column;
  }
}

.c-content__contact {
  line-height: 1.7;
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  .c-content__contact {
    flex-direction: column;
  }
}

.c-error {
  display: block;
  margin-top: 8px;
  color: #ff3333;
  font-weight: bold;
}

@media screen and (max-width: 414px) {
  .c-error {
    font-size: 12px;
  }
}

.c-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
}

@media screen and (max-width: 414px) {
  .c-form {
    max-width: 100%;
    padding: 24px;
  }
}

.c-form__group {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-form--expiration {
  display: flex;
}

.c-form--search {
  padding: 8px;
  background-color: #fefefe;
}

.c-heading {
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  .c-heading {
    font-size: 12px;
  }
}

.c-hero {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(238, 238, 238, 0.5) 0%, rgba(255, 255, 255, 0.8) 100%), url("/images/convenience_shopping.jpg") no-repeat center/cover;
}

@media screen and (max-width: 414px) {
  .c-hero {
    height: 50%;
  }
}

.c-hero__inner {
  text-align: center;
  font-weight: bold;
  color: #434343;
}

@media screen and (max-width: 768px) {
  .c-hero__inner {
    padding: 48px;
  }
}

@media screen and (max-width: 414px) {
  .c-hero__inner {
    padding: 48px;
  }
}

.c-hero__title {
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-size: 200px;
}

@media screen and (max-width: 768px) {
  .c-hero__title {
    font-size: 100px;
  }
}

@media screen and (max-width: 414px) {
  .c-hero__title {
    font-size: 100px;
  }
}

.c-hero__text {
  font-size: 32px;
}

.c-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.c-icon:hover {
  cursor: pointer;
}

.c-icon--like {
  color: #ff7fbf;
}

.c-icon--unlike {
  color: #ccc;
}

.c-icon--notlike {
  color: #ccc;
  pointer-events: none;
}

.c-icon--share {
  padding: 8px;
  border: 1px solid;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: #434343;
}

.c-input {
  width: 100%;
  height: 50px;
  margin: 16px 0;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  background: #f6f5f4;
  border: 1px solid #434343;
}

@media screen and (max-width: 414px) {
  .c-input {
    margin: 8px 0;
    font-size: 16px;
  }
}

.c-input::-moz-placeholder {
  font-size: 16px;
}

.c-input::placeholder {
  font-size: 16px;
}

.c-input--price {
  width: 35%;
}

.c-input--date {
  display: flex;
  align-items: center;
}

.c-input--hidden {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.c-input.is-invalid {
  background-color: #ffcccc;
}

.c-input__search {
  width: 75%;
  margin: 8px 0;
  padding: 8px;
}

.c-input__radio {
  margin: 8px 0;
}

.c-label {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  .c-label {
    font-size: 12px;
  }
}

.c-label__purchase {
  list-style: none;
  position: absolute;
  top: 50px;
  right: 50px;
}

.c-label__purchase span {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}

.c-label__purchase ::before {
  content: "\8CFC\5165\A\6E08\307F";
  white-space: pre;
  font-size: 24px;
  color: #ff2828;
  padding: 14px;
  display: inline-block;
  line-height: 1em;
  border: #ff2828 5px solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  font-weight: bold;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-16deg);
  -ms-transform: rotate(-16deg);
  background: #fefefe;
}

@media screen and (max-width: 414px) {
  .c-label__purchase ::before {
    width: 30px;
    height: 30px;
    font-size: 12px;
    z-index: 2;
  }
}

.c-label__category {
  margin: 0 8px;
  padding: 8px 0;
  font-size: 12px;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  border: 1px solid;
  text-align: center;
}

.c-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #434343;
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  .c-link {
    font-size: 12px;
  }
}

.c-link:hover {
  text-decoration: underline;
}

.c-link--all {
  display: block;
  text-align: right;
}

.c-link--withdraw {
  margin: 24px 0;
  padding-right: 8px;
  display: block;
  text-align: right;
}

.c-link--back {
  margin: 8px;
  display: inline-block;
}

.c-pagination {
  display: flex;
  list-style-type: none;
}

.c-pagination li {
  padding: 24px;
  border: 1px solid #434343;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .c-pagination li {
    padding: 8px;
  }
}

.c-pagination .active {
  background-color: #32cd32;
  color: #fefefe;
}

.c-pagination .inactive {
  color: #434343;
}

.c-pagination li + li {
  border-left: none;
}

.disabled {
  cursor: not-allowed;
}

.c-panel {
  position: relative;
  box-sizing: border-box;
}

.c-panel__border {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 5px solid #f6f5f4;
}

.c-panel__head,
.c-panel__foot {
  padding: 16px;
}

.c-panel__head {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.c-panel__body {
  display: flex;
  justify-content: center;
}

.c-panel__container {
  height: 600px;
}

.c-panel__content {
  padding: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.c-panel__image {
  height: 250px;
}

.c-panel__image--user {
  width: 50%;
}

.c-panel__image--convenience {
  width: 70%;
}

.c-panel__image--usage {
  width: 25%;
  height: 25%;
  margin-right: 32px;
}

.c-panel__group--flex {
  display: flex;
}

@media screen and (max-width: 414px) {
  .c-panel__group--flex {
    display: block;
  }
}

.c-panel__group .c-panel {
  width: 50%;
  box-sizing: border-box;
  margin: 8px;
}

@media screen and (max-width: 414px) {
  .c-panel__group .c-panel {
    width: 100%;
    margin: 8px 0;
  }
}

.c-password {
  position: relative;
}

.c-password__icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.c-product__picture {
  height: 100%;
  margin: 16px 0;
  padding: 8px;
  position: relative;
  border: 1px solid #434343;
}

.c-product__picture--img {
  width: 100%;
}

.c-product__picture--detail {
  max-width: 500px;
  margin: auto;
  padding: 8px;
  display: block;
}

@media screen and (max-width: 414px) {
  .c-product__picture--detail {
    width: 100%;
  }
}

.c-product {
  width: 80%;
  margin: auto;
  padding: 8px;
}

.c-product--item {
  font-size: 16px;
  line-height: 1.5;
}

.c-product__price--value {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.c-product__price--unit {
  font-size: 16px;
}

.c-product__expiration {
  display: flex;
}

@media screen and (max-width: 414px) {
  .c-product__expiration {
    display: block;
  }
}

.c-product--convenience {
  display: flex;
}

.c-product--avatar {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.c-product--avatar-wrap {
  display: flex;
  align-items: center;
}

.c-product--item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-section {
  padding: 16px;
}

.c-selectbox {
  width: 100%;
  height: 32px;
  margin: 8px 0;
  font-size: 16px;
}

.c-sidebar {
  padding: 8px;
  display: flex;
  flex-direction: column;
  background: #fefefe;
}

@media screen and (max-width: 768px) {
  .c-sidebar {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .c-sidebar__avatar--wrap {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .c-sidebar__content--wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.c-sidebar__header {
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .c-sidebar__header {
    font-size: 12px;
  }
}

.c-sidebar__body {
  opacity: 0.7;
}

.c-sidebar--content {
  display: flex;
  justify-content: center;
  margin: 16px;
}

@media screen and (max-width: 768px) {
  .c-sidebar--content {
    font-size: 12px;
  }
}

.c-sidebar__avatar {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .c-sidebar__avatar {
    width: 100%;
  }
}

.c-sidebar__avatar--img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.c-sidebar__footer {
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.c-sidebar--link {
  margin: 16px;
  padding: 16px;
}

.c-text {
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  .c-text {
    font-size: 12px;
  }
}

.c-text--note {
  font-size: 12px;
}

.c-text--max {
  display: flex;
  justify-content: flex-end;
}

.c-text--alert {
  margin: 16px 0;
  font-weight: bold;
  line-height: 1.5;
}

.c-textarea {
  width: 100%;
  margin: 16px 0;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #434343;
  background: #f6f5f4;
}

@media screen and (max-width: 414px) {
  .c-textarea::-moz-placeholder {
    font-size: 12px;
  }
  .c-textarea::placeholder {
    font-size: 12px;
  }
}

.c-textarea.is-invalid {
  background-color: #ffcccc;
}

.c-textarea--count {
  position: relative;
  right: -79%;
  bottom: 10px;
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  .c-textarea--count {
    right: -68%;
  }
}

.c-title {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  color: #434343;
}

@media screen and (max-width: 414px) {
  .c-title {
    font-size: 24px;
  }
}

.c-title--sub {
  margin: 16px 0;
  font-size: 24px;
}

@media screen and (max-width: 414px) {
  .c-title--sub {
    font-size: 16px;
  }
}

.c-title--top {
  margin: 32px 0;
}

.c-toast {
  width: 100%;
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fefefe;
  font-weight: bold;
  opacity: 0.9;
  z-index: 3;
  text-align: center;
}

.c-toast--success {
  background-color: #32cd32;
}

.c-toast--error {
  background-color: #ff2828;
}

.c-tooltip {
  position: relative;
  display: inline-block;
}

.c-tooltip__message {
  width: 150px;
  padding: 8px;
  display: none;
  position: absolute;
  top: -150%;
  font-size: 12px;
  line-height: 1.6em;
  color: #fefefe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #434343;
  z-index: 2;
  transform: translateX(-110%);
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
}

@media screen and (max-width: 414px) {
  .c-tooltip__message {
    width: 100px;
    top: -220%;
  }
}

.c-tooltip__message:before {
  content: "";
  margin-left: -20px;
  position: absolute;
  left: 110%;
  bottom: 30%;
  border: 15px solid transparent;
  border-top: 15px solid #434343;
  transform: rotateZ(270deg);
  -webkit-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
}

.c-tooltip:hover .c-tooltip__message {
  display: block;
}

.p-mypage {
  padding: 16px;
  background-color: #fefefe;
}

@media screen and (max-width: 414px) {
  .p-mypage {
    padding: 8px;
  }
}

.p-mypage--list {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 414px) {
  .p-mypage--list {
    width: 100%;
    flex-wrap: wrap;
  }
}

.p-mypage--link {
  margin-top: 8px;
}

.p-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.p-product {
  padding: 24px 16px;
  background-color: #fefefe;
}

@media screen and (max-width: 414px) {
  .p-product {
    padding: 8px;
  }
}

.p-product--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 414px) {
  .p-product--list {
    width: 100%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 414px) {
  .p-product__item {
    width: 50%;
    margin: 0;
    padding: 8px 0;
  }
}

.p-profile {
  display: flex;
  background-color: #fefefe;
}

.p-register {
  height: 160px;
  margin-top: 16px;
  padding: 8px;
  overflow-y: auto;
  line-height: 1.2;
  font-size: 12px;
  border: 0.5px solid #434343;
  background-color: #fefefe;
}

.p-sidebar {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.p-withdraw {
  display: flex;
  background-color: #fefefe;
}

.p-withdraw__button {
  display: flex;
  justify-content: center;
}

.u-bgColor {
  background-color: #eee;
}

.u-ftColor__user {
  color: #ff1493;
}

.u-ftColor__convenience {
  color: #00bfff;
}

@media screen and (max-width: 414px) {
  .u-fz-10\@sm {
    font-size: 10px;
  }
}

@media screen and (max-width: 414px) {
  .u-fz-20\@sm {
    font-size: 20px;
  }
}

.u-m__s {
  margin: 8px;
}

.u-m__m {
  margin: 16px;
}

.u-m__l {
  margin: 24px;
}

.u-m__xl {
  margin: 32px;
}

.u-m__xxl {
  margin: 40px;
}

.u-m__3l {
  margin: 48px;
}

.u-mt__s {
  margin-top: 8px;
}

.u-mt__m {
  margin-top: 16px;
}

.u-mt__l {
  margin-top: 24px;
}

.u-mt__xl {
  margin-top: 32px;
}

.u-mt__xxl {
  margin-top: 40px;
}

.u-mt__3l {
  margin-top: 48px;
}

.u-mb__s {
  margin-bottom: 8px;
}

.u-mb__m {
  margin-bottom: 16px;
}

.u-mb__l {
  margin-bottom: 24px;
}

.u-mb__xl {
  margin-bottom: 32px;
}

.u-mb__xxl {
  margin-bottom: 40px;
}

.u-mb__3l {
  margin-bottom: 48px;
}

.u-mr__s {
  margin-right: 8px;
}

.u-mr__m {
  margin-right: 16px;
}

.u-mr__l {
  margin-right: 24px;
}

.u-mr__xl {
  margin-right: 32px;
}

.u-mr__xxl {
  margin-right: 40px;
}

.u-mr__3l {
  margin-right: 48px;
}

.u-ml__s {
  margin-left: 8px;
}

.u-ml__m {
  margin-left: 16px;
}

.u-ml__l {
  margin-left: 24px;
}

.u-ml__xl {
  margin-left: 32px;
}

.u-ml__xxl {
  margin-left: 40px;
}

.u-ml__3l {
  margin-left: 48px;
}

.u-pd__s {
  padding: 8px;
}

.u-pd__m {
  padding: 16px;
}

.u-pd__l {
  padding: 24px;
}

.u-pd__xl {
  padding: 32px;
}

.u-pd__xxl {
  padding: 40px;
}

.u-pd__3l {
  padding: 48px;
}

.u-pdt__s {
  padding-top: 8px;
}

.u-pdt__m {
  padding-top: 16px;
}

.u-pdt__l {
  padding-top: 24px;
}

.u-pdt__xl {
  padding-top: 32px;
}

.u-pdt__xxl {
  padding-top: 40px;
}

.u-pdt__3l {
  padding-top: 48px;
}

.u-pdb__s {
  padding-bottom: 8px;
}

.u-pdb__m {
  padding-bottom: 16px;
}

.u-pdb__l {
  padding-bottom: 24px;
}

.u-pdb__xl {
  padding-bottom: 32px;
}

.u-pdb__xxl {
  padding-bottom: 40px;
}

.u-pdb__3l {
  padding-bottom: 48px;
}

.u-pdr__s {
  padding-right: 8px;
}

.u-pdr__m {
  padding-right: 16px;
}

.u-pdr__l {
  padding-right: 24px;
}

.u-pdr__xl {
  padding-right: 32px;
}

.u-pdr__xxl {
  padding-right: 40px;
}

.u-pdr__3l {
  padding-right: 48px;
}

.u-pdl__s {
  padding-left: 8px;
}

.u-pdl__m {
  padding-left: 16px;
}

.u-pdl__l {
  padding-left: 24px;
}

.u-pdl__xl {
  padding-left: 32px;
}

.u-pdl__xxl {
  padding-left: 40px;
}

.u-pdl__3l {
  padding-left: 48px;
}

