.l-article {
    display: flex;
    @include mq(md){
        display: block;
    }
    @include mq(sm) {
        display: block;
    }

    &__main {
        min-width: 75%;
        border: 0.5px solid $boader-color_line;
        @include mq(md){
            margin: $space_m;
            width: calc(100% - $space_m * 2);
        }
        @include mq(sm){
            margin: $space_s;
            width: calc(100% - $space_s * 2);
        }
    }

    &__sidebar {
        min-width: 25%;
        background: $background-color_sub2;
        @include mq(sm) {
            width: 100%;
        }
    }
}