.l-footer {
    width: 100%;
    &__pagetop {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 30px;
        bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $background-color_main;
        border: solid 2px $boader-color_line;
        border-radius: 50%;
        z-index: 2;
        &--arrow {
            width: 10px;
            height: 10px;
            border-top: 3px solid $boader-color_line;
            border-right: 3px solid $boader-color_line;
            transform: translateY(20%) rotate(-45deg);
        }
        &.UpMove {
            animation: UpAnime 0.5s forwards;
        }
        @keyframes UpAnime {
            from {
                opacity: 0;
                transform: translateY(100px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        &.DownMove {
            animation: DownAnime 0.5s forwards;
        }
        @keyframes DownAnime{
            from {
                opacity: 1;
                transform: translateY(0);
            }
            to {
                opacity: 1;
                transform: translateY(100px);
            }
        }
    }
    &__inner {
        padding: $space_m;
        line-height: 2.5;
        text-align: center;
        color: $font-color_default;
        background-color: $background-color_primary;
    }
    &__copyright {
        font-size: $font-size_default;
        color: $font-color_default;
        @include mq(sm) {
            font-size: $font-size_m;
        }
    }
    &__link {
        margin-top: $space_s;
    }
}