.l-header {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    line-height: 50px;
    color: $font-color_default;
    transition: .3s;
    background-color: $background-color_sub;

    &.float-active {
        position: fixed;
        z-index: 2;
        transition: .3s;
        background: $background-color_sub3;
        opacity: 0.9;
    }

    @include mq(sm) {
        height: 60px;
        padding-right: $space_l;
        padding-left: $space_l;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include mq(sm) {
            margin-top: $space_s;
        }

    }

    &__title {
        font-family: $font-family_corp;
        font-style: italic;
        font-weight: bold;
        font-size: $font-size_3l;
        text-decoration: none;
        color: $font-color_default;
        line-height: 60px;

        @include mq(sm) {
            font-size: $font-size_xxl;
        }
    }
}