.l-header{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 50px;
    color: $font-color_link_1;
    padding-left: $space_xl;
    padding-right: $space_xl;
    transition: .3s;
    background-color: #aaa;

    &.float-active{
        position: fixed;
        z-index: 2;
        transition: .3s;
        background: $background-color_sub2;
        opacity: 0.9;
    }
    @include mq(md){
        height: 100px;
        padding-right: $space_l;
        padding-left: $space_l;
    }
    @include mq(sm){
        height: 60px;
        padding-right: $space_l;
        padding-left: $space_l;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        @include mq(sm){
            margin-top: $space_s;
        }
    }
}