.l-header {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    line-height: 50px;
    color: $font-color_default;
    transition: .3s;
    background-color: $background-color_sub2;
    position: sticky;
    top: 0;
    z-index: 2;
    opacity: 0.9;
    padding: 0 $space_xl;
    @include mq(sm) {
        height: 100%;
        padding: 0 $space_l;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        font-family: $font-family_corp;
        font-style: italic;
        font-weight: bold;
        font-size: $font-size_3l;
        text-decoration: none;
        color: $font-color_default;
        line-height: 60px;
        @include mq(sm) {
            font-size: $font-size_xxl;
        }
    }
}