.l-main {
    width: $site-width;
    margin: auto;
    padding: 120px 0;

    @include mq(sm){
        width: 100%;
        padding: $space_l 0;
    }

    &__wrapper {
        padding: $space_3l $space_m;
        border: 0.5px solid $boader-color_default;
        min-width: 75%;

        @include mq(sm){
            padding: $space_xl $space_s;
            margin: $space_s;
        }

        &--terms,
        &--policy {
            border: none;
        }
    }
}