.l-main {
    width: 100%;

    &__wrapper {
        padding: 40px;
        border: 0.5px solid $boader-color_default;
        min-width: 75%;

        @include mq(sm){
            padding: $space_m;
        }

        &--terms,
        &--policy {
            border: none;
        }
    }

    &__user {
        background-color: #efffff;
        padding: 120px 180px;

        @include mq(sm){
            padding: $space_l;
        }
    }

    &__convenience {
        background-color: #ffefff;
        padding: 120px 180px;

        @include mq(sm){
            padding: $space_l;
        }
    }

    &__common {
        background-color: #efffef;
        padding: 120px 180px;

        @include mq(sm){
            padding: $space_l;
        }
    }

}