.l-main {
    width: 100%;

    &__user {
        background-color: #efffff;
        padding: 120px 180px;

        @include mq(sm){
            padding: 24px;
        }
    }

    &__convenience {
        background-color: #ffefff;
        padding: 120px 180px;

        @include mq(sm){
            padding: 24px;
        }
    }
}