.u-m__s {
    margin: $space_s;
}

.u-mr__s {
    margin-right: $space_s;
}

.u-ml__s {
    margin-left: $space_s;
}

.u-mt__s {
    margin-top: $space_s;
}

.u-mb__s {
    margin-bottom: $space_s;
}

.u-m__m {
    margin: $space_m;
}

.u-mt__m {
    margin-top: $space_m;
}

.u-mb__m {
    margin-bottom: $space_m;
}

.u-mt__xl {
    margin-top: $space_xl;
}

.u-mb__xl {
    margin-bottom: $space_xl;
}