.u-pd__s {
    padding: $space_s;
}

.u-pd__l {
    padding: $space_l;
}

.u-pd__xl {
    padding: $space_xl;
}

.u-pdt__s {
    padding-top: $space_s;
}

.u-pdb__s {
    padding-bottom: $space_s;
}

.u-pdr__s {
    padding-right: $space_s;
}

.u-pdl__s {
    padding-left: $space_s;
}